
/* Fonts */

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf)}
@font-face {
    font-family: LeckerliOne-Regular;
    src: url(../fonts/LeckerliOne-Regular.ttf)}
@font-face {
    font-family: BerkshireSwash-Regular;
    src: url(../fonts/BerkshireSwash-Regular.ttf)}
@font-face {
    font-family: Lato_bold;
    src: url(../fonts/Lato_Bold.ttf)}
@font-face {
    font-family: Lato_regular;
    src: url(../fonts/Lato_Regular.ttf)}
@font-face {
    font-family: EmilysCandy;
    src: url(../fonts/EmilysCandy-Regular.ttf)}
@font-face {
    font-family: PontanoSans-Regular;
    src: url(../fonts/PontanoSans-Regular.ttf)}
@font-face {
    font-family: Acme-Regular;
    src: url(../fonts/Acme-Regular.ttf)}
@font-face {
    font-family: FingerPaint-Regular;
    src: url(../fonts/FingerPaint-Regular.ttf)}

/* Grid */
.modal {
    .modal-header {
        border-bottom: none;
        padding-bottom: 5px;
    }
    // .nav-modal {
    //     width: 70%;
    //     margin-right: 0;
    // }
    .modal-content {
        max-width: 600px;
        min-width: 420px;
        border-radius: 25px;
        background-color: #f5f6f7;
    }
    .modal-dialog {
        max-width: 600px;
        min-width: 420px;
        border-radius: 10px;
    }
    .form-control {
        background-color: rgba(245, 245, 245, 0.5);
        border-radius: 10px;
    }
    .title-input {
        width: 80%;
    }
    .custom-select {
        background-color: rgba(245, 245, 245, 0.5);
        border-radius: 10px;
        option {
            background-color: rgba(245, 245, 245, 0.5);
        }
    }
    .btn-secondary {
        background-color: rgba(12, 12, 12, 0.9);
        color: white;
        border-radius: 5px;
        &:hover{
            background-color: rgba(78, 77, 77, 0.9);
            box-shadow: 2px 2px 3px 2px rgba(130, 138, 145, 0.5);
        }
        &:focus {
            box-shadow: none;
        }
    }
    .btn-save, .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        &:hover {
            background-color: #005abb;
            box-shadow: 2px 2px 3px 2px rgba(130, 138, 145, 0.5);
        }
    }
    .modal-footer {
        border-top: none;
        padding-top: 5px;
    }
}


.grid {
    display: grid;
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

/* Flex */

.flex {
    display: flex;
    &.row {
        flex-direction: row;
    }
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
  }