@import 'reset.css';
@import 'helpers.scss';
@import 'bestask.scss';
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

* {
    box-sizing: border-box;
    a:link {
        text-decoration: none;
      }
}

html{
    padding-top: 60px;
}